*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}
header 
{
    height: auto;
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
header .logo
{
    height: 100px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav
{
    height: 100px;
    width: 60%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav li
{
    display: inline;
    margin-right: 25px;  
}
a
{
    text-decoration: none;
    color: #5f88a3;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
header .btn
{
    height: 100px;
    width: 20%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
header .btn button
{
    border: none;
    color: #fff;
    background-color: #f3223b;
    padding: 12px 18px;
    font-size: 17px;
}
section
{
    height: auto;
    /* background-color: orange; */
    display: flex;
    flex-wrap: wrap;
}
section .info
{
    height: 450px;
    width: 30%;
    background-color: #1a5ca3;
    text-align: center;
}
section .banner-img
{
    height: 450px;
    width: 70%;
    background-color: lightblue;
}
section .info button
{
    background-color: #1fb31a;
    border: none;
    color: #fff;
    margin-top: 20px;
    padding: 20px 95px;
    font-size: 20px;
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 #024389, 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
section .info .plus
{
    margin-top:140px;
    color: #fff;
    font-size: 32px;    
    text-transform: capitalize;
}
section .info p
{
    font-size: 21px;
    font-weight: 500;
    color: #47a0ff;
}
section .info img
{
    margin-top: 15px;
}
section .banner-img img
{
    background-color:#1a5ca3;
}
 .coup
{
    font-size: 30px;
    font-weight: bold;
    color: #708aa5;
    margin-top: 50px;
    margin-left: 125px;
}
.sec
{
/* height: 200px; */
/* width: 100%; */
background-color: gray;
display: flex;
flex-wrap: wrap;
column-gap: 20px;

padding: 20px 80px;
}
.sec .ad1
{
    /* height: 200px; */
    width: 49%;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* margin: auto; */
    background-color: coral;
}
.sec .ad2 
{
    /* height: 200px; */
    width: 49%;
    /* margin-right:103px; */
    /* margin: auto; */
    background-color: lightblue;
}
.ad1 img
{
    object-fit: contain;
    /* margin-left: 165px; */
}
.ad2 img
{
    object-fit: contain;
    /* margin-left: -165px; */
}
/* .Explore
{
    height: 400px;
    background-color: gray;
    display: flex;
}
.exp
{
    font-size: 30px;
    font-weight: bold;
    color: #708aa5;
    margin-left: 75px;
}
.mai
{
    padding: 50px 0px;
    display: flex;
}
 .Explore .mai .ourmenu
{
    height: 300px;
    width: 25%;
    background-color: orange;
}
.Explore .mai .nearby
{
    height: 300px;
    width: 25%;
    background-color: green;
}
 .Explore .mai .birthday
{
    height: 300px;
    width: 25%;
    background-color: red;
}
 .Explore .mai .catering
{
    height: 300px;
    width: 25%;
    background-color: blue;
} */
.Explore
{
    height: 350px;
    /* background-color: lightblue; */
    display: flex;
    margin-top: 55px;
    padding: 0px 120px;
}
.exp 
{
    font-size: 30px;
    font-weight: bold;
    color: #708aa5;
    margin-left: 125px;
}
.Explore .ourmenu
{
    height:350px;
    /* background-color: orange; */
    width: 25%;
    /* margin-top: 25px;
    margin-left: 85px; */
}
.Explore .nearby
{
    height: 350px;
    /* background-color: red; */
    width: 25%;
    /* position: relative; */
}
.Explore .birthday
{
    height: 350px;
    /* background-color: green; */
    width: 25%;
    
}
.Explore .catering
{
    height: 350px;
    /* background-color: pink;  */
    width: 25%;
}
.ourmenu .menu
{
    height: 280px;
    width: 320px;
    /* background-color: gray; */
    margin: 50px auto;
}
.ourmenu .menu .up 
{
    height: 80%;
    background-color: whitesmoke;   
    /* border-bottom:2px dashed rgba(255, 255, 255, 0.32);
    border: 2px dashed rgba(255, 255, 255, 0.32);
    border-right:2px solid rgba(255, 255, 255, 0.32); */
    border: 1px dashed gray;

}
.ourmenu .menu .down
{
    height: 20%;
    background-color: whitesmoke;
    /* border: 2px dashed rgba(255, 255, 255, 0.32);
    border-right:2px solid rgba(255, 255, 255, 0.32); */
    border: 1px dashed gray;
}
.ourmenu .menu .up img
{
    margin-left: 145px;
    margin-top: 30px;
}
.imgourmenu
{
    margin-left: 110px;
    margin-top: 15px;
    color: #2b4547;
}
.delpizza
{
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #2b4547;
    margin-top: 10px;
}
.down span
{
    font-family: "proximaExtraBold";
    font-size: 15px;
    letter-spacing: 0.31;
    color: #de042e;
    margin-left: 100px;
    line-height: 55px;
    font-weight: bold;
}
.nearby .menu1
{
    height: 280px;
    width: 320px;
    /* background-color: red; */
    margin: 50px auto;
}.nearby .menu1 .up
{
    height: 80%;
    background-color: whitesmoke;
    /* border-bottom:2px dashed rgba(255, 255, 255, 0.32);
    border: 2px dashed rgba(255, 255, 255, 0.32);
    border-right:2px solid rgba(255, 255, 255, 0.32); */
    border: 1px dashed gray;
}
.nearby .menu1 .down
{
    height: 20%;    
    background-color: whitesmoke;
    /* border-bottom:2px dashed rgba(255, 255, 255, 0.32);
    border: 2px dashed rgba(255, 255, 255, 0.32);
    border-right:2px solid rgba(255, 255, 255, 0.32); */
    border: 1px dashed gray;

}
.menu1 .up img 
{
    margin-top: 30px;
    margin-left: 125px;
}
.menu1 .up .nearbystore
{
    margin-top: 10px;
    margin-left: 85px;
    color: #2b4547;
}
.menu1 .up .fadp
{
    text-align: center;
    margin-top: 15px;
    color: #2b4547;
}
.menu1 .down .dominosstore
{
    font-family: "proximaExtraBold";
    font-size: 15px;
    letter-spacing: 0.31;
    color: #de042e;
    margin-left: 70px;
    line-height: 55px;
    font-weight: bold;
}
.birthday .menu2
{
    height: 280px;
    width: 320px;
    background-color: lightblue;
    margin: 50px auto;
    border: 1px dashed gray;
    /* position: absolute;
    left: 46.5%; */
}
.birthday .menu2 .up
{
    height: 80%;
    background-color: whitesmoke;
}
.birthday .menu2 .down
{
    height: 20%;
    background-color: whitesmoke;
    border: 1px dashed gray;

}
.menu2 .up img
{
    margin-top: 15px;
    margin-left: 135px;
}
.menu2 .up .birthdaypartytext
{
    margin-top: 10px;
    margin-left: 80px;
    color: #2b4547;
}
.menu2 .up .celerate
{
    margin-top: 15px;
    text-align: center;
    color: #2b4547;
}
.menu2 .down .booknow
{
    margin-left: 120px; 
}
.catering .menu3
{
    height: 280px;
    width: 320px;
    background-color: whitesmoke;
    margin: 50px auto;
    border: 1px dashed gray;
}
.catering .menu3 .up
{
    height: 80%;
    background-color: whitesmoke;
    border: 1px dashed gray;
}
.catering .menu3 .down
{
    height: 20%;
    border: 1px dashed gray;
    /* background-color: lightseagreen; */
}
.menu3 .up img
{
    margin-top: 45px;
    margin-left: 125px;
}
.menu3 .up .cateringtext
{
    margin-left: 115px;
    color: #2b4547;
}
.menu3 .up .livedominos
{
    margin-top: 15px;
    text-align: center;
    color: #2b4547;

}
.menu3 .down .booknow1
{
    margin-left: 120px;
}